.main__body
  .main__body__member グループネーム
  .main__body__date 1989/10/27
  .main__body__comment 誕生日
  .main__body2
    .main__body__member グループネーム2
    .main__body__date 1989/10/272
    .main__body__comment 誕生日2