.chat__side__group
  - current_user.groups.each do |group|
    = link_to group_messages_path(group) do
      .chat__side__group__name 
        = group.name
      .chat__side__group__text 
        = group.show_last_message