html {
	height: 100%;
}

body {
	height: 100%;
}

h1 {
	background-color: $blue;
	text-align: center;
	color: $white;
	z-index: 0;
}

#chat__side {
	background-color: $side;
	width: 300px;
	height: 100%;
	float: left;
	.chat__side__var {
		background-color: $sidetop;
		height: 100px;
		.chat__side__var__user {
				font-size: 16px;
				font-weight: bold;
				color: $white;
				margin-left: 20px;
				padding-top: 42px;
				float: left;
    }
    .chat__side__var__menu {
      color:$white;
			float: right;
			padding-top: 42px;
			margin-right: 20px;
    }
  }
}


.chat__side__group {
	@include haba;
	margin-top: 20px;
	.chat__side__group__name {
		font-size: 15px;
		color: $white;
		font-weight: bold;
  }
    .chat__side__group__text {
    	font-size: 11px;
    	color: $white;
    	margin-top: 5px;
			margin-bottom: 40px;
			font-weight: bold;
  }

}


#main {
	float: left;
	position: relative;
	height: 100%;
	width: calc(100vw - 300px);
	background-color: $whitegray;
	.main__header {
		border-bottom: #eeeeee;
		float: left;
		width: 100%;
		background-color: $white;
		.main__header__group {
			float: left;
		}
		.main__header__group__name {
			padding-top: 35px;
			font-size: 20px;
			color: #333333;
			padding-left: 40px;
		}
		.main__header__member {
			margin-top: 15px;
			font-size: 12px;
			color: #999999;
			padding-left: 40px;
		}
		.main__header__edit-blue {
			text-decoration: none;
			margin-right: 40px;
			padding: 0px 20px;
			height: 40px;
			line-height: 40px;
			border: solid 1px $blue;
			color: $blue;
			margin-top: 28px;
			float:right;
		}
	}

	.main__body {
		float: right;
		clear: both;
		width:100%;
		position: relative;
		.main__body__member{
			padding-top: 46px;
			padding-left: 40px;
			float: left;
			font-size: 16px;
			font-weight: bold;
			color: black;
		}

		.main__body__date{
			padding-left: 10px;
			float: left;
			padding-top: 46px;
			font-size: 12px;
			color: #999999;
		}

		.main__body__comment{
			padding-top: 10px;
			font-size: 14px;
			color: #434A54;
			clear: both;
			padding-left: 40px;
		}
	}

	.bottom__form {
		clear: both;
		background-color: rgb(171, 168, 168);
		height: 80px;
		padding-top: 20px;
		bottom: 0px;
		position: absolute;
			.bottom__form__text{
				width: calc(100vw - 510px);
				padding-left: 10px;
				height: 50px;
				margin-left: 40px;
			}
	    .bottom__form__text__submit {
				width: 100px;
				background-color: $blue;
				color: $white;
				font-size: 20px;
				height: 50px;
				margin-right: 40px;
				margin-left: 12px;
			}
			i{
				position: absolute;
				top: 35px;
				right: 160px;
				font-size:  25px;
		}
	}
}

.file-form{
	display: none;
}
